/* Style de base pour le site */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8d8a8a;
}

header {
    background-color: #7490c6;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img {
    width: 100px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background-image: url('campus.jpg');
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    text-align: center;
    color: white;
}

.hero h1 {
    font-size: 50px;
}

.services {
    padding: 40px 20px;
    background-color: #fff;
    text-align: center;
}

.services h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.service-item {
    margin-bottom: 20px;
}

footer {
    background-color: #7490c6;
    color: rgb(123, 120, 120);
    text-align: center;
    padding: 10px;
}
form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

label, input, textarea, button {
    margin-bottom: 10px;
}

input, textarea {
    padding: 8px;
    font-size: 16px;
}

button {
    padding: 10px;
    background-color: #0044cc;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #003399;
}
